<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-slide>
    <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
      <img src="assets/img/logonuevo.png" class="slide-image" />
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Clave</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <!-- <ion-icon name="eye" item-right (click)="togglePasswordMode()"></ion-icon> -->

      </ion-item>

      <ion-item>
        <ion-label>UUID:</ion-label>
        <ion-label>{{deviceId}}</ion-label>

      </ion-item>


      <ion-button expand="full" type="submit">Login</ion-button>
      <!--   <ion-button expand="full" type="button" (click)="register()" [disabled]="!credentialsForm.valid">Register</ion-button>
   <ion-button expand="full" type="button" (click)="revisar()" >Revisar</ion-button> -->

    </form>
  </ion-slide>
</ion-content>